#apropos {
    margin: 0 auto;
    height: calc(100vh - var(--content-height) - 10vh);
    min-height: calc(100vh - var(--content-height) - 10vh);
    display: flex;
    align-items: left;
    justify-content: left;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-family: 'Source Code Pro', monospace;  
    /* overflow-y: scroll; */
  }

  #lettre {
    font-size: 28px;
  }
  
  @media (max-width: 800px) {
    #apropos {
      width: 100%;
    }
  }